<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Student-dashboard</title>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <!-- Bootstrap CSS -->


<!-- Bootstrap JS dependencies -->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script> -->

  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" /> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-xxx" crossorigin="anonymous" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"  crossorigin="anonymous" />


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />

  <!-- <style>
  footer {
      background-color: #333;
      color: #fff;
      margin : 10px ;
      
      text-align: center;
    
      width: 100%;
    
  } 
  

  
.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icons a {
  margin: 20px; /* Adjust the margin between icons */
}

.social-icons img {
  width: 10vw; /* 5% of the viewport width; adjust as needed */
  max-width: 60px; /* Set a maximum width to prevent excessively large images on large screens */
  height: auto; /* Maintain aspect ratio */
}

/* Additional styles for small screens (e.g., mobile devices) */
@media only screen and (max-width: 600px) {
  .social-icons img {
      width: 10vw; /* Adjust the size for smaller screens */
      max-width: 30px; /* Set a smaller maximum width for smaller screens */
  }
}
  </style>  -->
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">SCHOLAR-SPHERE</a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                OPTIONS
              </a>
              
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'books' %}">Books</a></li>
                    <li><a class="dropdown-item" href="{% url 'wiki' %}">Wikipedia</a></li>
                <div class="dropdown-divider"></div>

                <li><a class="dropdown-item" href="#">Dictionary</a></li>
                <li><a class="dropdown-item" href="{% url 'youtube' %}">Youtube</a></li>
                <li><div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="{% url 'todo' %}">To-do</a></li>
                <li><a class="dropdown-item" href="{% url 'homework' %}"> Homework</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="{% url 'notes' %}">Notes</a></li>
                <li><a class="dropdown-item" href="{% url 'chatgpt' %}">Chatgpt</a></li>
               
                
                </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout'%}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="admin">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <br /><br />
  <main>
    {% if messages %}
    {% for msg in  messages %}
    <div class="alert alert-{{msg.tags}} alert-dismissible fade show" role="alert">
      <strong>{{request.user.username}}</strong> {{msg}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>{% endfor %}
    {% endif %}
    
    {% block content %} 
   

    {% endblock content %}

   

  </main>
  <footer class="bg-body-tertiary text-center my-3">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
        data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #3b5998;"
          href="https://www.linkedin.com/in/aayush-kapil-759959252?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B5v3eMiZuTAO%2FgqSTzFQVrg%3D%3D"
          role="button"
          target="_blank"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #55acee;"
          target="_blank"
          href="https://www.linkedin.com/in/aayush-kapil-759959252?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B5v3eMiZuTAO%2FgqSTzFQVrg%3D%3D"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #dd4b39;"
          href="https://aayush908.github.io/portfolio/"
          role="button"
          target="_blank"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #ac2bac;"
          href="https://aayush908.github.io/portfolio/"
          role="button"
          target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #0082ca;"
          target="_blank"
          href="https://www.linkedin.com/in/aayush-kapil-759959252?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B5v3eMiZuTAO%2FgqSTzFQVrg%3D%3D"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <!-- Github -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #333333;"
          href="https://github.com/aayush908"
          target="_blank"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2020 Copyright:
      <a class="text-body" href="https://www.linkedin.com/in/aayush-kapil-759959252?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B5v3eMiZuTAO%2FgqSTzFQVrg%3D%3D">AAYUSH KAPIL </a>
    </div>
    <!-- Copyright -->
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    // Initialization for ES Users

  </script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script> -->
</body>

</html>